html, head, body, h1, h2, ul, li, p {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}
h1 {
    color: #000000;
    background-color: #baa7d1;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: bolder;
    line-height: 20px;
}
ul.nav {
    float: none;
    text-align: center;
    list-style-type: none;
    background-color: #610850;
    color: #ffffff;
    padding: 5px 0;
}
.nav li {
    display: inline;
    padding: 0 20px 0 0;
}
h2 {
    color: #00000;
    margin: 20px 0;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 18px;
    Background-color: ##baa7d1;
    border-bottom: 1px solid #000000;
    padding: 2px;
}
p {
    margin: 0 0 0 20px;
}
ul.interests {
    float: none;
    Position: relative;
    right: -40px;
}