.background-gradient{
    background: linear-gradient(300deg ,#190482,#7752FE,#8E8FFA,#C2D9FF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

}
@keyframes linearGradient{
    0%{
        background-position:0% 50% ;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.storage{
    height: 100vh;
}

.flex1 img{
    height: 300px;
    grid-area: 1/2/2/3;
    border-radius: 50%;
    margin-left: 90px;
    
}

.flex1{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

#grid{
    display: grid;
    grid-template-columns: 800px auto;
    grid-template-rows: 200px;
    padding-bottom: 150px;

}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-left: 25px;
}

.flex h2{
    font-size: 30pt;
}
.flex p{
    font-size: 14pt;
}
.active{
    margin-right: 25px;
}
#footer{
    margin-left: 25px;
}


@media (max-width:1400px){
    #grid{
        display: grid;
    grid-template-columns: 800px ;
    grid-template-rows: auto auto;
    }
    .flex34{
        height: 300px;
        grid-area: 1/1/2/2;
        border-radius: 50%;
        margin-right: 60px;
        margin-bottom: 30px;
        
    }
    .flex34{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:770px){
    .d-flex{
        flex-direction: column!important;
        align-items: center;
    }
}
