@import "utilities.css";
:root{
  --primary:#3DCFD3;
  --dark:#161616;
  --pure:#FFFFFF;
  --ternary:#898989;
  --light:#F2F2F2;
  --secondary:#070606;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
}

body{
  font-family: 'Poppins', sans-serif;
}

.header{
  background: var(--dark);
  max-width: auto;
  padding: 0 15px;
  margin: 0 auto;
  clip-path:polygon(0 0,100% 0, 100% 100%,70% 87%,0 99%);

}

.header nav{
  padding:2rem 0;
}

.logo{
  margin-right: 3rem;
}

.right-sec a{
  color: var(--pure);
  text-decoration: none;
  margin-right: 6rem;
  text-transform: uppercase;
  transition: all .3s ease;
}

.right-sec a:hover{
  color:var(--primary);
}

.left img{
  width: 600px;
}

.mid-sec .right{
  color: var(--pure);
}

.mid-sec .right h1{
  color: var(--pure);
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.mid-sec .right h3{
  color: var(--pure);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.mid-sec .right h3 span{
  color: var(--primary);
}

.tagline{
  padding: 6rem 0;
}

.about-img{
  height: 500px;
  margin-left: 300px;
}

.content-wrapper h1{
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.content-wrapper h1 span{
  color: var(--primary);
}

.content-wrapper h3{
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.content-wrapper p{
  font-family: 'Lato', sans-serif;
  color: var(--ternary);
  line-height: 1.9;
}

.skill-heading{
  color:var(--pure);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}

.skill-heading + h3{
  color: var(--ternary);
  font-family: 'Lato', sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}

.class-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 5%;
}

.skills .class-wrapper .card{
  background: var(--primary);
  padding: 2rem 1rem;
  position: relative;
  padding-top: -6rem;
  margin-top: 2rem;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.skills .class-wrapper .card h1{
  color: var(--pure);
  margin-left: 40%;
  margin-top: 10%;
}


.skills .class-wrapper .card img{
  position: absolute;
  top:-3.5rem;
  left:50%;
  transform: translateX(-50%);
  width: 100px;
}

.contact{
  background: var(--dark);
  max-width: auto;
  padding: 0 15px;
  margin: 0 auto;
}

.contact-heading{
  color:var(--pure);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
  padding-top: 2%;
}

.contact-heading p{
  color: var(--pure);
}
